:root {
    --primary-color: #300705;
    --secondary-color: #a67564;
    --tertiary-color: #723e31;
    --background-color: #d9d2cc;
    --light-text-color: #f2f1ef;
    --dark-text-color: #3c3a3a;
  }